<div class="row">
  <nb-card class="col-lg-10 offset-1">
    <nb-card-header>
      <div class="vazir-font text-center">به چیپ لرن خوش آمدید</div>
    </nb-card-header>

    <nb-card-body>
      <div class="form-group">
        <h1 class="text-center main-text-header">یاد گیری ارزان است</h1>
      </div>
      <div class="form-group">
        <nb-card class="col-lg-12 drtl" style="background: #d0d0ff;">
          <nb-card-header>
            <div class="vazir-font text-center">دوره های آموزشی</div>
          </nb-card-header>

          <nb-card-body>

            <div class="row">
              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-lg-3">
                <nb-card>
                  <nb-card-header>
                    <div class="vazir-font text-center">پایتون</div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                      <img class="course-image" src="/assets/images/alan.png" alt="course">
                    </div>
                    <div class="form-group">
                      <p style="font-family: haftadFont;font-size: 20px;" class="vazir-font text-right">این دوره برای
                        آموزش پایتون است و در این آموزش ما پایتون را به صورت تخصصی به شما آموزش می دهیم</p>
                    </div>
                    <div class="form-group" style="float: right;">
                      <button class="btn btn-primary vazir-font">مشاهده این دوره</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </nb-card-body>
  </nb-card>
</div>