<header>
  <h1 class="text-center main-text-header" style="margin-top: 0;">یادگیری را از همین الان آغاز کنید</h1>
  <h1 class="text-center main-text-header" style="font-size: 45px;">یاد گیری ارزان است</h1>
  <svg viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="svg--sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100" />
    <polygon class="svg--lg" fill="white"
      points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
  </svg>
</header>
<div style="background: white;">
  <nb-card class="col-lg-11 container">
    <nb-card-header>
      <h3 class="text-center vazir-font">جدید ترین دوره های آموزشی</h3>
    </nb-card-header>

    <nb-card-body>
      <div class="row col-lg-12">
        <show-articles></show-articles>
        <show-articles></show-articles>
        <show-articles></show-articles>
        <show-articles></show-articles>
      </div>
    </nb-card-body>
  </nb-card>
</div>